In [6]:
url1 = "https://raw.githubusercontent.com/Luchkata/Algorithmic_Trading_Machine_Learning/refs/heads/main/simulated_daily_data.csv"

In [7]:
url2 = "https://raw.githubusercontent.com/Luchkata/Algorithmic_Trading_Machine_Learning/refs/heads/main/simulated_5min_data.csv"

,open,low,high,close,volume,date
datetime,,,,,,
2021-09-29 20:00:00,10379.7775,10364.5950,10398.7025,10370.9575,46,2021-09-29
2021-09-29 20:05:00,10370.9425,10352.4175,10380.2500,10371.1450,53,2021-09-29
2021-09-29 20:10:00,10372.8150,10357.8250,10388.7500,10384.3125,116,2021-09-29
2021-09-29 20:15:00,10385.8275,10384.0825,10457.2000,10442.5175,266,2021-09-29
2021-09-29 20:20:00,10442.5225,10426.2375,10448.0000,10440.9950,65,2021-09-29
...,...,...,...,...,...,...
2023-09-20 10:40:00,6792.1025,6783.6000,6796.2500,6790.1375,41,2023-09-20
2023-09-20 10:45:00,6790.5575,6779.1000,6795.7500,6781.9175,42,2023-09-20
2023-09-20 10:50:00,6781.5475,6779.3750,6790.2500,6783.9050,44,2023-09-20
2023-09-20 10:55:00,6783.9025,6779.9000,6793.2500,6782.0900,95,2023-09-20
2023-09-20 11:00:00,6783.7750,6774.3500,6787.5000,6778.6375,54,2023-09-20